{% extends 'base.html' %}

{% block menu %}
  <ul id="menu">
    <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
    <li class="selected"><a href="/">Home</a></li>
    <li><a href="/Clothes">Clothes</a></li>
    <li><a href="/Shoes">Shoes</a></li>
    <li><a href="/Contact">Contact Us</a></li>
    <li><a href="/Info">Info</a></li>
    <li><a href="/identification">Enter</a></li>
  </ul>
{% endblock menu %}
{% block content %}
<h1 class="Warning">505 Server error</h1>
{% endblock content %}
