{% extends 'base.html' %}

{% block menu %}
<ul id="menu">
    <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
    <li><a href="/">Home</a></li>
    <li><a href="/Clothes">Clothes</a></li>
    <li><a href="/Shoes">Shoes</a></li>
    <li><a href="/Contact">Contact Us</a></li>
    <li><a href="/Info">Info</a></li>
    <li class="selected"><a href="/identification">Enter</a></li>
</ul>
{% endblock menu %}
{% block content %}
<form action="/identification" method="post">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <h2>{{ message }}</h2>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="email" placeholder="Email">
    <input type="submit" value="Submit">
</form>
{% endblock content %}
