{% extends 'base.html' %}

{% block menu %}
<ul id="menu">
        <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
        <li><a href="/">Home</a></li>
        <li><a href="/Clothes">Clothes</a></li>
        <li><a href="/Shoes">Shoes</a></li>
        <li><a href="/Contact">Contact Us</a></li>
        <li class="selected"><a href="/Info">Info</a></li>
</ul>
{% endblock %}

{% block content %}
<div><p>Config</p>
        <ul>
        {% for item in config %}
                <li>{{ item }} - {{ config[item] }}</li>
        {% endfor %}
        </ul>
</div>
{% endblock %}
